Source: ros-indigo-roswww
Section: misc
Priority: extra
Maintainer: Isaac Isao Saito <iisaito@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/roswww
Standards-Version: 3.9.2

Package: ros-indigo-roswww
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rosbridge-server, ros-indigo-rospy
Description: roswww package
