Source: ros-hydro-roswww-pack
Section: misc
Priority: extra
Maintainer: Isaac Isao Saito <130s@lateeye.net>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/roswww_pack
Standards-Version: 3.9.2

Package: ros-hydro-roswww-pack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-rospy
Description: roswww_pack package
